[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/benchmark"]
	path = third_party/benchmark
	url = https://github.com/google/benchmark.git
[submodule "third_party/NVBIO"]
	path = third_party/NVBIO
	url = https://github.com/NVlabs/nvbio.git
[submodule "third_party/pwm"]
	path = third_party/pwm
	url = https://github.com/kurpicz/pwm.git
[submodule "third_party/pasta"]
	path = third_party/pasta
	url = https://github.com/pasta-toolbox/bit_vector.git
[submodule "third_party/tlx"]
	path = third_party/tlx
	url = https://github.com/tlx/tlx.git
[submodule "third_party/pasta_utils"]
	path = third_party/pasta_utils
	url = https://github.com/pasta-toolbox/utils.git
